.unlockContents {
  display: flex;
  align-items: center;
  gap: 10rem;
  justify-content: center;
  margin-top: 5rem;
}
.unlockRight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.unlockRightContent1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.unlockRightContent1 h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #4d4d4d;
  width: 500px;
}
.unlockRightContent1 p {
  width: 600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #717171;
}
button {
  padding: 10px 20px 10px 20px;
  background-color: #4caf4f;
  border: none;
  border-radius: 6px;
   color: white;
   font-size: 15px;
   font-weight: 600;
}
.unlockRightContentButton button {
  background-color: #4caf4f;
  color: white;
}
