header{
   background-color: #f5f7fa;
}
.headerContents {
  display: flex;
  justify-content: space-between;
    
}
.logom {
  display: flex;
  gap: 7px;
  align-items: center;
}
 h2{
  color: rgba(38, 50, 56, 1);
}
nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
nav a:hover {
  color: var(--primary-color);
}
.reg {
  display: flex;
  gap: 5px;
  align-items: center;
}
.reg a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.reg button {
  padding: 10px 20px 10px 20px;
  background-color: #4caf4f;
  border: none;
  border-radius: 6px;
}
.login {
  background-color: #f5f7fa;
  color: #4caf4f;


}

.login a{
  color: #4caf4f;
}

.loginReg {
  align-items: center;
  gap: 5px;
flex-direction:row;
display: flex;
}
@media (max-width: 768px) {
  .headerContents {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
}